<form action="{{ url_for("inserir") }}" method="post">
<label for="id">id:</label>
<input type="text" id="id" name="id" placeholder="Digite o id da roupa">
<label for="marca">marca:</label>
<input type="text" id="marca" name="marca" placeholder="Digite a marca">
<label for="tamanho">tamanho:</label>
<input type="text" id="tipo" name="tipo" placeholder="Digite o tipo de roupa">
<label for="tipo">tipo:</label>
<input type="text" id="tamanho" name="tamanho" placeholder="Digite seu tamanho">
<button type="submit">Salvar</button>
